footer {
  margin-top: 1em;
}

footer hr {
  flex-grow: 1;
}

footer div {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  font-weight: 900;
}

footer p {
  margin: 0;
}
